@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');
/* =======common css======= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ol,ul{
    list-style: none;
}
p{
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
img{
    vertical-align: middle;
}
.main-btn{
    color: #fff;
    background: #F00;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}
/* =========header area start======== */
#header{
    padding-top: 50px;
    max-width: 1320px;
    margin: 0 auto;
}
#header .banner{
    background: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 177px 0;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}
#header .banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    z-index: -1;
}
#header .banner-content{
    text-align: center;
    padding: 0 344px;
}
#header .banner-content h3{
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 16px;
}
#header .banner-content h1{
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 95px;
    font-family: 'Merriweather', serif;
}
/* =========header area end======== */
/* =========main area start======== */
#main{
    max-width: 1320px;
    margin: 0 auto;
}
    /* discount deal */
#main .discount-deal{
    text-align: center;
    padding: 120px 0;
}
#main .discount-title h2{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}
#main .discount-title h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 16px;
}
#main .discount-title h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
#main .discout-img{
    margin-top: 48px;
}
    /* wc banner */
#main .wc-banner{
    background: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 68px 138px 68px 126px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 120px;
}
#main .wc-banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 15px;
    z-index: -1;
}
#main .wc-content h2{
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    font-family: 'Merriweather', serif;
    padding-bottom: 35px;
}
#main .wc-content p{
    color: #ffffffcc;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 40px;
}
/* event details */
#main .event-details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 15px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 110px;
    margin-bottom: 120px;
}
#main .event-details h3{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
}
#main .event-details h3 span{
    color: #F00;
    padding-right: 10px;
}
#main .event-details .event-btn{
    padding-top: 48px;
}
    /* best-offer */
#main .best-offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 118px;
}
#main .offer-info{
    width: 41%;
}
#main .offer-info h5{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
#main .offer-info h3{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    padding-top: 16px;
    padding-bottom: 22px;
}
#main .offer-img{
    position: relative;
    width: 463px;
    height: 463px;
    text-align: center;
    line-height: 463px;
    margin-right: 118px;
    margin-left: 70px;
}
#main .offer-img::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #F00;
    transform: translate(-50%, -50%);
}
#main .offer-content{
    padding-left: 85px;
    margin-top: 70px;
}
#main .offer-content h3{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}
#main .offer-content img{
    margin-top: 43px;
}
    /* holi sale */
#main .holi-ttile{
    text-align: center;
    padding: 0 225px;
    margin-bottom: 497px;
}
#main .holi-ttile h5{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
    text-transform: uppercase;
}
#main .holi-ttile h2{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    padding-bottom: 28px;
}
#main .holi-ttile h2 span{
    color: #F00;
}
.holi-banner{
    background: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 229px;
    position: relative;
}
.holi-banner .gift-box{
    position: absolute;
    bottom: 0;
    left: 0;
}
.holi-banner .girl{
    position: absolute;
    bottom: 229px;
    right: 0;
}
.holi-banner .discount-overlay{
    position: absolute;
    left: 0;
    top: 50%;
    height: 206px;
    width: 206px;
    border-radius: 50%;
    background: #F00;
    text-align: center;
    border: 10px solid #fff;
    transform: translate(-50%, -50%) rotate(-33deg);
}
.holi-banner .discount-overlay h3 span{
    color: #fff;
    font-size: 73px;
    font-weight: 700;
    display: block;
}
.holi-banner .discount-overlay h3{
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    padding-top: 30px;
}
/* =========main area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */