@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');
/* =======common css======= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ol,ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
/* =========header area start======== */
#header{
    padding-top: 50px;
    max-width: 1320px;
    margin: 0 auto;
}
#header .banner{
    background: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 177px 0;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}
#header .banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    z-index: -1;
}
#header .banner-content{
    text-align: center;
    padding: 0 344px;
}
#header .banner-content h3{
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 16px;
}
#header .banner-content h1{
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 95px;
    font-family: 'Merriweather', serif;
}
/* =========header area end======== */
/* =========main area start======== */
#main{
    max-width: 1320px;
    margin: 0 auto;
}
#main .discount-deal{
    text-align: center;
    padding: 120px 0;
}
#main .discount-title h2{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}
#main .discount-title h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 16px;
}
#main .discount-title h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
#main .discout-img{
    margin-top: 48px;
}
/* =========main area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */
/* =========header area start======== */